apiVersion: v1
kind: ServiceAccount
metadata:
  name: ${GITHUB_MINTER_KSA_NAME}
  annotations:
    iam.gke.io/gcp-service-account: ${GITHUB_MINTER_GSA_NAME}@${PROJECT_ID}.iam.gserviceaccount.com
automountServiceAccountToken: false

